<!DOCTYPE html>
<html>
  <head>
    <title>Image Downloader</title>

    <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
    <style>
      body {
        width: 90%;
        min-width: 370px;
        max-width: 640px;
      }

      select,
      input[type="color"],
      input[type="number"] {
        width: 80px;
      }

      input[type="number"] {
        margin-right: 2px;
        text-align: right;
      }

      input[type="button"] {
        cursor: pointer;
        min-width: 80px;
        height: 26px;
        border: 0;
        margin: 6px 2px 0;
        color: #fff;
      }
    </style>

    <script src="/lib/zepto.js"></script>

    <script src="/scripts/defaults.js"></script>
    <script src="/scripts/options.js"></script>
  </head>
  <body>
    
  </body>
</html>
